﻿


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>





    @*<link href="~/Content/KendoMaterial/kendo.common-material.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/KendoMaterial/kendo.material.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/KendoMaterial/kendo.material.mobile.min.css" rel="stylesheet" type="text/css" />*@


    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />







</head>
<body>
    <div id="cap-view" class="demo-section k-content">
        <h4>Customize your Kendo Cap</h4>
        <div id="cap" class="black-cap"></div>
        <h4>@Html.Label("color", "Cap Color")</h4>
        @(Html.Kendo().DropDownList()
          .Name("color")
          .DataTextField("Text")
          .DataValueField("Value")
          .Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Black",
                  Value = "1"
              },
              new SelectListItem() {
                  Text = "Orange",
                  Value = "2"
              },
              new SelectListItem() {
                  Text = "Grey",
                  Value = "3"
              }
          })
          .Value("1")
          .HtmlAttributes(new { style = "width: 100%" })
        )

        <h4 style="margin-top: 2em;">@Html.Label("size", "Cap Size")</h4>
        @(Html.Kendo().DropDownList()
          .Name("size")
          .BindTo(new List<string>() {
              "S - 6 3/4\"",
              "M - 7 1/4\"",
              "L - 7 1/8\"",
              "XL - 7 5/8\""
          })
         .HtmlAttributes(new { style = "width: 100%" })
        )

        <button class="k-button k-primary" id="get" style="margin-top: 2em; float: right;">Customize</button>
    </div>
    <style>
    #cap {
        width: 242px;
        height: 225px;
        margin: 20px auto;
        background-image: url('@Url.Content("~/Content/web/dropdownlist/cap.png")');
        background-repeat: no-repeat;
        background-color: transparent;
    }
    .black-cap {
        background-position: 0 0;
    }
    .grey-cap {
        background-position: 0 -225px;
    }
    .orange-cap {
        background-position: 0 -450px;
    }
    </style>

    <script>
    function change() {
        var value = $("#color").val();
        $("#cap")
                .toggleClass("black-cap", value == 1)
                .toggleClass("orange-cap", value == 2)
                .toggleClass("grey-cap", value == 3);
    };

    $(document).ready(function () {
        $("#get").click(function () {
            var color = $("#color").data("kendoDropDownList"),
                size = $("#size").data("kendoDropDownList");

            alert('Thank you! Your Choice is:\n\nColor ID: ' + color.value() + ' and Size: ' + size.value());
        });
    });
    </script>
</body>
</html>



@*<script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>*@

<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
