﻿




@{
    ViewBag.Title = "UsersInfo";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href='@Url.Content("~/Scripts/Plugins/DataTables/css/datatables.min.css")' />



@Scripts.Render("~/bundles/jquery")


<h2>Projects</h2>



<div id="showContent">


    <select id='useresdropdown' onchange='myFunction()' class='form-control'>

       
    </select>

</div>
<div id="showContent1">

</div>
<br />
<br />
<br />
<br />
<button onclick="FctData()"> Get More Infos </button>



<table class="table table-bordered table-condensed table-hover table-striped" id="idtable">
    <thead>
        
        <tr>
            <th>Names </th>
            <th id="Cell5"> Number Of Tasks</th>
        </tr>
    </thead>



    <tbody id="IdTbody1">


    
        </tbody>

</table>
<br />
<br />
<br />
<br />
<table class="table table-bordered table-condensed table-hover table-striped" id="idtable2">
    <thead>
        <tr id="Cell11"> </tr>
        <tr>
            <th>Employee </th>
            <th>Project</th>
            <th>Id Tasks</th>
            <th>Author</th>
            <th>Description </th>
        </tr>
    </thead>



    <tbody id="IdTbody2"></tbody>

</table>







    <script type="text/javascript">

        $(document).ready(function () {
            alert("Hello JS");

            //$('#idtable').DataTable();
            //$('#idtable2').DataTable();
        });

        $(document).ready(function () {

           

    $.ajax({
    type: "POST",
    url: '@Url.Action("GetProjects", "Users")',
    dataType: "json",
 
    contentType: 'application/json; charset=utf-8',
    error: function () { alert("error") },
  
        success: function (jsonResultProjects) {
            alert(jsonResultProjects);
   
            var ResultProjects = JSON.parse(jsonResultProjects);

              var html;
        

              $.each(ResultProjects, function (idx, obj) {
           
                html += "<option value=" + obj + ">" + obj + "</option>";
  });

              $('#useresdropdown').html(html);
            $('#useresdropdown').select2();
          }





    });







        });







    </script>



<script>
    function myFunction() {
        var e = $("#useresdropdown").text();

        var ee = document.getElementById("useresdropdown");
        var t = ee.options[ee.selectedIndex].text;

        alert(t);



        var object = {}
        object.Name = t;
        console.log("object")
        console.log(object)
        //$("#Cell4").text(object.Name);

        $.ajax({
            type: "POST",
            url: '@Url.Action("getTicketUsers", "Users")',

            dataType: "json",
            //contentType: "application/json",

            contentType: 'application/json; charset=utf-8',

            data: JSON.stringify(object),

            error: function () { alert("error") },

            success: function (jsonNbrUserProjectsB) { // on success..

                //alert(jsonNbrUserProjectsB);

                var ResulNbrUserProjectsB = JSON.parse(jsonNbrUserProjectsB);

                console.log(ResulNbrUserProjectsB);

                $.each(ResulNbrUserProjectsB, function (idx, obj2) {

                    var html2="";
                    html2 += "<tr>";
                    html2 += "<td class='Namez'>";
                    html2 += "<input type='checkbox' class='checkname' value='"+ obj2.Element+"'>" 
                    html2 += ""+ obj2.Element+"";
                    html2 += "</td>";
                    html2 += "<td>" + obj2.Counter + "</td>";
                    html2 += "</tr>";

                    $("#IdTbody1").append(html2);
                    $('#idtable').DataTable();

                });



            }


        });
    }
   


    function FctData() {
       
        var object1 = [];
     
        $(".checkname:checked").each(function () {
            var ee = document.getElementById("useresdropdown");
            var t = ee.options[ee.selectedIndex].text;
            //var Projects = { project: t }
            //object1.push(Projects);
            var Names = { Name: this.value, project: t };

            object1.push(Names);
     
            console.log("object1")
            console.log(object1)
        });

        //var ee = document.getElementById("useresdropdown");
        //var t = ee.options[ee.selectedIndex].text;
        //var Projects = { project:t}
        //object1.push(Projects);
        // object1.project = t;

        console.log(object1)
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetTableTickets", "Users")',
        
            dataType: "json",
            contentType: 'application/json;, charset=utf-8',
            data: { objectA: JSON.stringify(object1) },

          error: function () { alert("error") },

          success: function (INfoTicketsUsers) { // on success..

              alert(INfoTicketsUsers);

              //var ResulINfoTicketsUsers = JSON.parse(jsonINfoTicketsUsers);

              console.log(INfoTicketsUsers);

              $.each(INfoTicketsUsers, function (idx, obj2) {

                  var html2;
                  html2 += "<tr>";
                  html2 += "<td>" + obj2.AssignedTo + "</td>";
                  html2 += "<td>" + obj2.Project + "</td>";
                  html2 += "<td>" + obj2.ID + "</td>";
                  html2 += "<td>" + obj2.Author + "</td>";
                  html2 += "<td>" + obj2.Status + "</td>"             
                  
                  html2 += "</tr>";

                  $("#IdTbody2").append(html2);
                  
                  $('#idtable2').DataTable();
              });

          }

      });

    }
      
       

    


</script>



